@page
@model Foro.Pages.TopicsModel
@{
    ViewData["Title"] = "Lista de temas";
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
        </tr>
    </tbody>
</table>
